/* wow I am reallly coding */
body {margin:0;
    background-color: ghostwhite;}


.nav {
  overflow: hidden;
  background-color: black;
 
  
}

.nav a {
  float: left;
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: blueviolet;
  color: black;
}

.nav a.active {
    background-color: #4CAF50;
    color: white;
}

.intro {border:1px solid ghostwhite ;
    
margin: 20px;
line-height: 15px;
background-color: lightgoldenrodyellow;}

  
li {
    list-style-position: outside;
}

/* I was having problem combining divs */

.first {border:1px solid ghostwhite width:4px;
margin: 20px;
    line-height: 20px;
    background-color: antiquewhite;
    padding:0 200px;
    
}

.second
{border:1px solid ghostwhite;
margin: 20px;
    line-height: 20px;
    background-color: bisque;
    padding:0 300px;
    
}
.second ul {text-align: left;
margin-right: 180px;}

.next {border:1px solid ghostwhite;
margin: 20px;
    line-height: 20px;
    background-color: lightgoldenrodyellow;
    padding:0 200px;
}

.top {border:1px solid ghostwhite width:0px;
margin: 20px;
    line-height: 20px;
    background-color: antiquewhite;
    text-align: center;
    padding:0 200px;
}

.third
{border:1px solid ghostwhite;
margin: 20px;
    line-height: 20px;
    background-color: lightgoldenrodyellow;
    padding:0 200px;
}

.begin {
    border-radius: 50%;
}
/* round images */
.img-circle {
    border-radius: 50%;
    animation: zoom;
    
}
h1 {font-family: 'Dancing Script', cursive;}

/* check to see if hover works */

h3:hover {
    background-color: yellow;
}

p {font-family: 'EB Garamond', serif;
    font-size: larger;
    
}